@using FluentBootstrap

<div class="container offset-top">
    <h1>Welcome</h1>
    <hr />
    <p>This is a blog where I write down my ideas and thoughts since I always lose my notebooks.</p>


    <div class="divider-new">Latest Posts</div>

    @foreach (var doc in Documents["Posts"].OrderBy(x => x["Published"]).Take(4))
    {
        <div class="col-sm-6" data-category="@doc["Category"]">
            <div class="elegant-card z-depth-1 hoverable">
                <!-- Image wrapper -->
                <div class="card-up view overlay hm-white-slight">
                    <h5 class="card-label">
                        <a href="/posts.html?category=@doc["Category"]">
                            <span class="label rgba-black-light">@doc["Category"].ToString().Replace("csharp", "C#")</span>
                        </a>
                    </h5>
                    <a href="@doc["PostFile"]">
                        <img src="@doc["PromoImageUrl"]" class="img-responsive" alt="">
                        <div class="mask waves-effect waves-light"> </div>
                    </a>
                </div>
                <!-- Button -->
                <a class="btn-floating btn-large waves-effect waves-light stylish-color" href="@doc["PostFile"]"><i class="fa fa-chevron-right"></i></a>
                <!-- Content -->
                <div class="card-content grey lighten-5">
                    <h5>@doc["Title"]</h5>
                    <p>@doc["Intro"]</p>
                </div>
                <!-- Footer -->
                <div class="card-footer">
                    <ul class="list-inline">
                        <li><i class="fa fa-clock-o"></i>@doc["Published"]</li>
                        <li><i class="fa fa-comments-o"></i><a href="@doc["PostFile"]#disqus_thread"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    }
</div>
